@tailwind base;
@tailwind components;
@tailwind utilities;
.left-47{
  left:47%;
}


.no-scroll {
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
