@tailwind base;
@tailwind components;
@tailwind utilities;
.left-47{
  left:47%;
}
:root {
  height: 100%;
  scroll-behavior: smooth;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: 400;
}

.no-scroll {
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.box-shadow-card {
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}



.Card { 
  transition: flex-grow 0.3s ease;
}

@media screen and (max-width: 768px) {
  .card_order_first {
    order: 1;
  }
  .card_order_second {
    order: 2;
  }
}

